<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">

<div class="mx-auto" style="width: 1300px; ">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card-full" style="position: relative; width: 100%; display: block; margin-top: 30px" >
  <div class="card" style="width: 250px; display: inline-block">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQcBn5eq-w8q9Pu5a3LVadSR2t_PmYBcdUT1AnX6fB99ZavaHPp&usqp=CAU" alt="card">
    <div class="card-body">
      <h5 class="card-title">Nejlepší mem</h5>
      <p class="card-text">Nejsem na cracku dělam si oběd</p>
      <a href="#" class="btn btn-danger">Klikni pro sebevraždu</a>
    </div>
    <h1 style="position: absolute; top: 10px; left: 400px; width: 900px">Mega nabombeney název</h1>
  <p style="position: absolute; top: 80px; left: 400px; width: 900px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis risus. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Donec quis nibh at felis congue commodo. Aenean vel massa quis mauris vehicula lacinia. Aenean placerat. Maecenas sollicitudin. Nullam sit amet magna in magna gravida vehicula. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Integer lacinia. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Donec vitae arcu. Aliquam in lorem sit amet leo accumsan lacinia. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Curabitur bibendum justo non orci. Quisque tincidunt scelerisque libero. Aliquam ornare wisi eu metus. Nunc tincidunt ante vitae massa. Ut tempus purus at lorem. Maecenas sollicitudin. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <table class="table" style="width: 900px; margin-left: 400px">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Jméno</th>
      <th scope="col">Příjmení</th>
      <th scope="col">Hodnost</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Cringetof</td>
      <td>Bitch</td>
      <td>Žádná</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bax</td>
      <td>Muller</td>
      <td>Milcher</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Luky</td>
      <td>Puky</td>
      <td>Má rád kluky</td>
    </tr>
    </tbody>
  </table>
  </div>

<form style="position: absolute; top: 540px">
  <div class="form-group">
    <label for="exampleInputEmail">E-male</label>
    <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Napište e-male" style="width: 300px">
    <small id="emailHelp" class="form-text text-muted">Váš e-male si necháme pro osobní účely :)</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Heslo</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Heslo" style="width: 300px">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Ukrást mé osobní údaje</label>
  </div>
  <button type="submit" class="btn btn-dark">Odeslat</button>
</form>
</div>

<router-outlet></router-outlet>
